.dishes-block{
    width: 500px;
    text-align: center;
    padding: 10px;
}
.dish-card{
    width: 25%;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid #000370;
    box-shadow: 0px 6px 9px -2px #000000;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 2px;
}
.title{
    margin: 8px 0;
}
b{
    color: #51c817;
}