.basket-block{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.delivery{
    margin: auto auto 10px auto;
}
.basket-card{
    margin: 5px 0;
    border-bottom: 1px solid #9b9b9b;
}
.basket-card_title{
    margin: 3px;
    font-size: 16px;
        display: inline-block;
}
.total-price{
    color: #ff4c3d;
}